/*Import fonts from the website www.fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Oswald:wght@200..700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* Apply Asterisk wildcard selector to override default style added by browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General body styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project property */
    color: #3a3a3a;
}

/* Header */
header {
    width: 100%;
    position: fixed;
    padding: 0;
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
}

header a {
    text-decoration: none;
    color: #fff;
}

/*Top bar */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    background-color: rgba(8, 43, 29, 0.7);
    height: 40px;
    font-size: small;
    width: 100%;
}

.top-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.social-media-icons {
    margin-left: 1em;
    gap: 3px;
    display: flex;
    gap: 3px;
}

.top-bar a {
    color: #fff;
    font-size: 1em;
}

/* Bottom navbar */
.second-navbar {
    background-color: darkseagreen;
}

.logo {
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex: 1;
}

.logo-title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo a {
    display: flex;
    align-items: center;
    /* align logo and text */
}

.logo img {
    height: 50px;
    width: 50px;
    margin: 5px;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #fff;
}

/* Navbar stles with dropdown toggle */
.menu-div {
    position: absolute;
    background-color: darkseagreen;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~div {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-left: 50px;
}

/* Main Section */
main {
    /*Make main element take surplus space and push footer to page bottom*/
    flex: 1 0 auto;
    margin-top: 100px;
}

/* City Photo */
#city{
    height: 800px;
    width: 100%;
    background: url("../images/Homepage.jpeg") no-repeat center center/cover;
}

/* Footer */
footer {
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.footer-content {
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    padding-top: 5px;
}

.contact {
    background-color: darkseagreen;
    padding: 0px;
}

.contact p {
    color: #fff;
    font-size: 0.7rem;
    letter-spacing: 1px;
}

.footer-content p {
    color: #fff;
}

h3 {
    font-size: 1rempx;
    color: #3a3a3a;
    text-align: center;
    margin-bottom: 5px;
    text-decoration: underline;
    padding-bottom: 5px;
}

.quick-links {
    background-color: rgba(8, 43, 29, 0.7);
    padding-bottom: 5px;
}

#quick-link-list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-bottom: 5px;
}

#quick-link-list a {
    text-decoration: underline;
    font-size: 1rem;
    color: #fff;
}

.follow-us {
    background-color: darkseagreen;
    padding: 0px;
}

#footer-social-icons {
    text-align: center;
    display: flex;
    padding: 5px 0;
    justify-content: space-evenly;
    list-style-type: none;
}

#footer-social-icons i {
    font-size: 150%;
    color: #fff;
    padding: 5%;
}

#quick-links a::before {
    content: '';
    position: absolute;
    transform: (-50% -50%);
    transition-duration: 0.9s;
    /*Chech */
    background: aqua;
    height: 2px;
    left: 50%;
    top: 106%;
}

#quick-links li:hover {
    /*Check*/
    color: aqua;
}

#footer-social-icons li::before {
    content: '';
    position: absolute;
    transform: (-50% -50%);
    transition-duration: 0.9s;
    background: aqua;
    height: 2px;
    left: 50%;
    top: 106%;
}

#footer-social-icons i:hover {
    color: aqua;
}

.back-to-top {
    position: fixed;
    width: 35px;
    height: 35px;
    background-color: #095403;
    bottom: 40px;
    right: 5px;
    text-align: center;
    font-size: 25px;
    color: white;
    line-height: 40px;
}

/*Bottom bar*/
.bottom-bar {
    background-color: rgba(8, 43, 29, 0.7);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    height: 40px;
}

.bottom-bar p {
    color: #fff;
    font-size: 12px;
}

/* Media query for tablets and larger screens (>= 760px) */
@media screen and (min-width: 768px) {

    /* Header */

    /*Topbar */
    .top-bar {
        display: flex;
        font-size: 150%;
    }

    .top-left {
        gap: 70px;
    }

    .social-media-icons {
        gap: 20px;
    }

    /* Second navbar */
    .menu-div {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding: 1em;
    }

    .menu-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .logo-title {
        font-size: 200%;
        line-height: 85px;
    }

    .logo img {
        font-size: 150%;
    }

    #menu {
        display: flex;
        list-style: none;
        gap: 1em;
        justify-content: flex-end;
        font-size: 13px;
    }

    #menu>li {
        padding: 3px;
    }

    .nav-toggle-label {
        display: none;
    }

     /* Main */
     main {
        /* Make main element take surplus spaces and push footer to page bottom */
        flex: 1 0 auto;
        margin-top: 130px;
        font-size: 150%;
    }

    /* Footer */
    .contact+.quick-links+.follow-us {
        padding-top: 1px;
    }

    .contact p {
        font-size: 100%;
        padding-bottom: 2px;
    }

    footer h3 {
        font-size: 1rem;
    }

    .quick-links li {
        font-size: 140%;
    }


    #footer-social-icons i {
        font-size: 180%;
        padding-top: 0px;
    }

    .back-to-top {
        width: 40px;
        height: 40px;
        bottom: 60px;
        right: 10px;
        font-size: 30px;
        line-height: 40px;
    }

    .bottom-bar p {
        font-size: 1rem;
        gap: 20px;
    }

    .bottom-bar span {
        gap: 20px;
    }

}

/* Media query for taptops and larger screens like (>= 992px) */
@media screen and (min-width: 992px) {

    /* Top bar */
    .top-bar {
        height: 70px;
        font-size: 200%;
    }

    .social-media-icons {
        font-size: 130%;
        gap: 20px;
    }

    /*Second Navbar */
    .second-navbar {
        height: 120px;
    }

    #menu {
        font-size: 112%;
        padding-top: 15px;
    }

    .logo-title {
        font-size: 250%;
        letter-spacing: 3px;
        padding-left: 15px;
    }

    .logo img {
        height: 95px;
        width: 95px;
        margin-left: 10px;
        margin-top: 10px;
    }

    #menu a:hover {
        border-bottom: 4px solid #fff;
    }

    /* Main */
    main {
        /* Make main element take surplus spaces and push footer to page bottom */
        flex: 1 0 auto;
        margin-top: 190px;
        font-size: 200%;
    }

    /* Footer */
    .footer-container {
        display: flex;
        margin: auto;
        justify-content: center;
        width: 100%px;
    }

    .footer-container>div {
        width: 33.3%;
    }

    footer h3 {
        font-size: 30px;
    }

    .contact {
        font-size: 120%;
        padding-top: 10px;
    }

    .contact p {
        padding-top: 25px;
    }

    .quick-links {
        display: block;
        font-size: 120%;
    }

    #quick-link-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #footer-social-icons i {
        padding-top: 60px;
    }

    /* Back to top button */
    .back-to-top {
        bottom: 60px;
    }

    /* Bottom bar */
    .bottom-bar {
        height: 60px;
    }

    .bottom-bar p {
        font-size: 150%;
    }

}

/* Media query for desktops and larger screens (>= 1200px) */
@media screen and (min-width: 1200px) {

    /* Top bar */
    .top-bar {
        height: 40px;
        font-size: 120%;
    }

    .social-media-icons {
        font-size: 150%;
        gap: 4em;
        padding-right: 2em;
    }

    .top-left {
        padding-left: 10em;
        gap: 25em;
    }

    /*Second Navbar */
    .second-navbar {
        height: 110px;
    }

    #menu {
        font-size: 112%;
        padding-top: 15px;
        padding-right: 3em;
        gap: 3em;
    }

    .logo-title {
        font-size: 300%;
        letter-spacing: 3px;
        padding-left: 10px;
        padding-bottom: 5px;
    }

    .logo img {
        height: 95px;
        width: 95px;
        margin-left: 2em;
        margin-top: 5px;
    }

    #menu a:hover {
        border-bottom: 4px solid #fff;
    }

    /* Main */
    main {
        /* Make main element take surplus spaces and push footer to page bottom */
        flex: 1 0 auto;
        margin-top: 150px;
        font-size: 130%;
    }

    /* Footer */
    .footer-container {
        display: flex;
        margin: auto;
        justify-content: center;
        width: 100%;
        height: 140px;
    }

    .footer-container>div {
        width: 33.3%;
    }

    footer h3 {
        font-size: 1rem;
    }

    .contact {
        font-size: 120%;
        padding-top: 10px;
    }

    .contact p {
        padding: 0px;
        font-size: 15px;
    }

    .quick-links {
        display: block;
    }

    #quick-link-list {
        display: flex;
        flex-direction: row;
        font-size: 10px;
        gap: 10px;
        padding-top: 15px;
    }

    #footer-social-icons i {
        padding-top: 20px;
        font-size: 30px;
    }

    /* Back to top button */
    .back-to-top {
        bottom: 60px;
    }

    /* Bottom bar */
    .bottom-bar {
        height: 40px;
    }

    .bottom-bar p {
        font-size: 15px;
    }

}