/*Import fonts from the website www.fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Oswald:wght@200..700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* Apply Asterisk wildcard selector to override default style added by browser*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General body styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project property */
    color: #3a3a3a;
}
/* Header */
header{
    width: 100%;
    position: fixed;
    padding: 0;
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
}
header a {
    text-decoration: none;
    color: #fff;
}

/*nav {
    width: 100%;
    padding: 1em 0;
    display: flex;
    align-items: center;
}*/


/* .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
} */

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    background-color: rgba(8, 43, 29, 0.7);
    height: 40px;
    font-size: small;
    width: 100%;
}
.top-left {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 15px;
}

.social-media-icons {
    margin-left: 1em;
    gap: 2px;
    display: flex;
}

.top-bar a {
    color: #fff;
    font-size: 1em;
}

/* Bottom navbar */
.second-navbar{
    background-color: darkseagreen;
    display: flex;
    /* padding: 0 1em; */
}
.menu-container {
    display: flex;
    justify-content: space-between;
    /*align-items: baseline; */
    width: 100%;
}

/*.second-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.logo {
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex: 1;
}

.logo a {
    display: flex;
    align-items: center; /* align logo and text */
}
.logo img {
    height: 50px;
    width: 50px;
    margin: 5px;
}

.logo-title {
    font-family: 'Oswald' , sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}
/* .menu-div{
    display: flex;
    margin-left: 5px;
    align-items: baseline;
} */
#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #fff;
}

/* Navbar stles with dropdown toggle */
.menu-div{
    position: absolute;
    background-color: darkseagreen;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
/* Nav toggle */
#nav-toggle:checked~div{
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* .menu-div ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.menu-div li{
    margin-left: 20px;
} */
/*.active {
    border-bottom: 1px solid #fff;
}*/
/* Navbar stles with dropdown toggle */
/* .menu-div {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
} */
/*#nav-toggle:checked~nav {
    display: block;
} */

/* Main Section */
main{
    background-color: aliceblue;
    /*Make main element take surplus space and push footer to page bottom*/
    flex: 1 0 auto;
    margin-top: 100px;
}

/* Footer */
footer{
    background-color: rgba(8, 43, 29, 0.7);
}

/* Media query for tablets and larger screens (>= 760px) */
@media screen and (min-width: 768px) {
    /* Header */
    /*Topbar */
    .top-bar{
        display: flex;
        font-size: 150%;
    }
    .top-left{
        gap: 70px;
    }
    .social-media-icons{
        gap: 20px;
    }

    /* Second navbar */

    /* .menu-div {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding: 1rem;
        align-items: center;
    } */

    /*#menu {
        display: flex;
    }
    #menu li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    .logo {
        font-size: 120%;
        line-height: 75px;

    } */
    
}
